{% extends 'front/auth/auth_base.html' %}
{% load static %}
{% block content %}
<div class="login">
  <h2>Login</h2>
  <form action="post" class="login_form">
    <input type="email" name="email" class="email" placeholder="Endereço de E-mail">
    <input type="password" name="password" class="password" placeholder="Sua senha">
    <div><span>Esqueci minha senha <a href="#">RECUPERAR SENHA</a></span></div>
  </form>
  <div class="login_submit">
    <span>Não possui conta? <a href="#">CRIE UMA</a></span>
    <button class="login_button" type="submit">Login</button>
  </div>
</div>
{% endblock %}