{% extends 'front/auth/auth_base.html' %}
{% load static %}
{% block content %}
<div class="register">
  <h2>Cadastro</h2>
  <form action="{% url 'register' %}" method="post" class="register_form">
    {% csrf_token %}
    <input type="text" name="username" class="username" placeholder="Nome de usuário">
    <input type="email" name="email" class="email" placeholder="Endereço de E-mail">
    <input type="password" name="password" class="password" placeholder="Sua senha">
    <input type="password" name="password_confirm" class="password_confirm" placeholder="Confirme sua senha">

    <button class="register_button">Criar</button>
  </form>
  <div class="register_submit">
    <span>Já possui conta? <a href="{% url 'login' %}">Entre!</a></span>

  </div>
</div>
{% endblock %}